* {
  /*Tira todas os espaços que vem padrão nos sites. */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;

  /* ajusta a altura automaticamente no ajuste de cada tela de dispositivo */
  height: 100vh;
}

body * {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

#container {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 360px;
  margin: 56px auto 0px auto; /*Aplicando o espaço no 4 cantos, dando espaço nas informações*/
  padding-top: 0 24px;
  /* height: 712px; */
  /* display: block; */
}

/* Profile */

#profile {
  /* border: 1px solid red; */
  padding: 24px;
  text-align: center;
}

#profile img {
  /* border: 1px solid red; */
  /* display: block; */
  width: 112px;
  /*margin: auto;  Para aplicar margem AUTO, preciso transformar/acrescentar o elemento display - block. */
}

#profile p {
  /* border: 1px solid red; */
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* link - Listas */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  padding: 16px 24px;
  justify-content: center;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/*pseudo-selector */

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* switch */

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  /* left: 0;
  right: initial; */

  z-index: 1;
  transform: translateY(-50%);
  animation: slide-in-dark 0.2s ease-out forwards;
}

.light #switch button {
  /* right: 0;
  left: initial; */
  animation: slide-in 0.2s ease-out forwards;
}

/*efeito de mouse em cima do seletor de light e dark mode*/
#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Social links*/

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/*adicionando background desktop */

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/*animando botão track do light e dark mode */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-in-dark {
  from {
    right: 0;
  }
  to {
    right: 50%;
  }
}
